.searchContainer{
    margin: 25px auto;
    width: 320px;
    display:flex;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
    position: relative;
}
.input{

    border: none;
    border-bottom: 1px solid #42e0f5;
    padding: 10px;
    width: 100%;
    outline: none;
    font-size: 18px;
    color: #42e0f5;

}
