.searchContainer{

}
.input{

    border: none;
    border-bottom: 1px solid #42e0f5;
    padding: 10px;
    width: 100%;
    outline: none;
    font-size: 18px;
    color: #42e0f5;

}

.parentSearch {
    display: flex;
    margin: 10px;
}
  
.searchboxLeft {
    display:flex;
}
  
.tipsRight {
    display:flex;
    padding: 10px;
}
  
@media only screen and (max-width: 1000px) {
    .parentSearch {
        flex-direction: column;
    }
}